<h1>Gossip <%= params[:id] %></h1>
  <% @gossips.each do |gossip| %>
  <div class="card card-gossip">
    <div class="card-header">
      <H2><%= gossip.title %></h2>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= gossip.content %></p>
      </blockquote>
    </div>
  </div>
  <% end %>

